@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");

:root {
  --almost-white: #f3eeea;
  --light-brown: #e8dbd3;
  --medium-brown: #aa7d7a;
  --dark-brown: #75474a;
}

body {
  background-color: var(--light-brown);
  font-family: "Playpen Sans", cursive;
  background-image: url(img/background.jpg);
  background-attachment: fixed;
}

main {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  min-height: 80vh;
}

nav {
  margin: 40px;
}

footer {
  margin-top: 10px;
}

h2 {
  font-size: 36px;
  text-align: center;
}
p,
li {
  line-height: 2;
}

a {
  color: var(--medium-brown);
}

header,
footer,
nav {
  text-align: center;
}

header,
footer,
main {
  max-width: 800px;
  margin: 0 auto;
}

.meat {
  color: var(--dark-brown);
  font-weight: 800;
}

#back-to-top {
  display: block;
  text-align: right;
}

#back-to-list {
  background-color: var(--dark-brown);
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

#ingredients {
  background-color: var(--light-brown);
  padding: 5px 15px;
  border-radius: 5px;
}

#intro img {
  border: var(--dark-brown) 5px solid;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
