:root {
  --dark-blue: #294969;
  --medium-orange: #ffa949;
  --dark-orange: #cf7919;
}

header {
  background-color: var(--dark-blue);
  color: ghostwhite;
  padding: 10px 15px;
  border: 12px solid var(--medium-orange);
  border-bottom-color: var(--dark-orange);
  margin: -8px -8px 20px;
}

footer {
  width: 200px;
  padding: 4px;
  border: 2px solid var(--medium-orange);
  margin: 0 auto;
  color: var(--dark-blue);
  font-size: 0.8rem;
  text-align: center;
}
